numpy
pandas
pyyaml
tqdm
fastapi
uvicorn
matplotlib
torch
torchvision
torchaudio
requests
pysyncobj

# Delete the torch library and install cuda enable version of torch of web if you want gpu aceleration